<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseFactoryConfiguration" 
				 type="Faculti.DataRepo.DatabaseManager.DatabaseFactorySectionHandler, Faculti" />
	</configSections>
	
	<connectionStrings>
		<add name="FacultiOracleConnection" 
			 providerName="Oracle.ManagedDataAccess.Client" 
			 connectionString="User ID = ADMIN; Password = Faculti1234!; Data Source = facultidb_high; Connection Timeout = 120;" />
	</connectionStrings>

	<DatabaseFactoryConfiguration Name="Faculti.DataRepo.DatabaseManager.Providers.OracleDatabase" 
								  ConnectionStringName="FacultiOracleConnection" />
</configuration>
