<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseFactoryConfiguration"
     type="Faculti.DataRepo.DatabaseManager.DatabaseFactorySectionHandler, Faculti" />
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Faculti.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<connectionStrings>
		<add name="FacultiOracleConnection"
    providerName="Oracle.ManagedDataAccess.Client"
    connectionString="User ID = ADMIN; Password = Faculti1234!; Data Source = faculti2_high; Connection Timeout = 120;" />
	</connectionStrings>

	<DatabaseFactoryConfiguration Name="Faculti.DataRepo.DatabaseManager.Providers.OracleDatabase"
          ConnectionStringName="FacultiOracleConnection" />
 <userSettings>
  <Faculti.Properties.Settings>
   <setting name="Email" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
  </Faculti.Properties.Settings>
 </userSettings>
</configuration>
